.container {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    

    h1 {
        font-size: 72px;
    }
}

/* landing */

#landing-page {
    display: flex;
    background-image: url("../img/regal-background.png");
    background-size: cover;
    color: #ffffff;
    height: 70vh;
    justify-content: space-evenly;
    padding: 0;
}

#landing-page h1 {
    text-align: center;
    font-size: 4.5em;
}

#landing-page h2 {
    text-align: center;
    color: #d4b660;
    font-size: 4em;
}

#landing-page p {
    text-align: center;
    font-size: 2.5em;
}

#landing-page button {
    color: #ffffff;
}

/* first container */

#first-container {
    display: flex;
    color: #462920;

    h3 {
        text-align: center;
        margin-top: 4em;
        margin-bottom: 2em;
        font-size: 2.2em;
    }

    img {
        width: 10vw;
        align-self: center;
        margin-bottom: 6em;
    }

    h1 {
        margin-left: 25px;
    }
    
    p {
        font-size: 2.5em;
        margin-left: 25px;
    }

    button {
        margin-top: 4em;
    }
}

#case-studies-container {
    display: flex;

    .container {
        display: flex;
        justify-content: center;
    }

    .case-study-box {
        height: 40vh;
    }
}


